body {
  background-color: #f4f4f4; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.police-overview-wrapper {
  width: 100%;
}

.police-overview-grid {
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.left-side,
.right-side {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.round-background-top-right,
.round-background-bottom-left {
  position: absolute;
  border-radius: 50%; 
  z-index: 1; 
}

.round-background-top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 700px; 
  height: 700px; 
  background-color: #C3EDF0; 
}

.round-background-bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  width: 600px;
  height: 600px; 
  background-color: #F0C3ED; 
  z-index: -1;
}

h2 {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: 800;
  font-family: 'YourCustomFont', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.police-description {
  text-align: center;
}

.police-description span {
  font-size: 36px;
  font-family: 'Poppins';
  font-weight: 700;
  line-height: 34px;
  word-wrap: break-word;
}

.police-description .empower {
  color: black;
}

.police-description .separator {
  color: #A91212;
}

.police-description .safety {
  color: #2ADB7F;
}

.police-description .with-button {
  color: black;
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative; 
  z-index: 2; 
}

.left-side button {
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
  border-radius: 50px;
  background-color: #FF2828;
  width: 250px;
  height: 50px;
  color: white;
  font-size: 25px;
  border-color: #FF2828;
  font-family: 'BalooBhaijaan2-Bold';
  transition: background-color 0.3s ease-in-out;
}

.left-side button:hover {
  background-color: #b81111;
}

/* PoliceSidebar */
.police-sidebar {
  width: 250px;
  height: 100%;
  background-color: #313131; 
  color: #fff;
  padding: 20px;
  position: fixed; 
  left: 0;
  top: 0; 
  bottom: 0; 
  overflow-y: auto; 
}

/* Navbar Styles */
.navbar {
  margin-bottom: 20px;
  border-bottom: 1px solid #fff; 
  padding-bottom: 10px; 
}

/* Custom Logo Styles */
.logo-container {
  text-align: center;
}

.logo-container span {
  font-family: 'Helvetica', sans-serif; /* Change font-family to Helvetica */
  font-weight: 900;
  word-wrap: break-word;
}

.logo-container .big-letter {
  color: white;
  font-size: 60px;
}

.logo-container .small-letter {
  color: #FF0000;
  font-size: 60px;
}

.logo-container .space {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

/* POLICE Text Styles */
.police-text {
  width: 100%;
  height: 40%;
  text-align: left;
  color: white;
  font-size: 26px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 15px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.sidebar-item.active {
  background-color: red;
}

.sidebar-item svg {
  margin-right: 10px;
}

.sidebar-item span {
  color: white;
  font-size: 18px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}

.sidebar-content {
  flex-grow: 1; 
}

.logout-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.logout-button svg {
  margin-right: 10px;
}

.logout-button span {
  color: white;
  font-size: 18px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}

/* PoliceNavbar */
.police-navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 1000; 
}

.logo-space {
  background-color: #313131;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 250px;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.police-dashboard-navbar .logo-container {
  text-align: center;
}

.police-dashboard-navbar span {
  font-family: 'Helvetica', sans-serif;
  font-weight: 900;
  word-wrap: break-word;
  font-size: 24px;
}

.police-dashboard-content {
  padding-top: 60px;
  padding: 20px;
}

.nav-interactives {
  display: flex;
  align-items: center; /* Align items vertically centered */
  color: #000;
  position: fixed;
  right: 50px;
}

.navbar-item {
  margin-right: 20px; /* Add spacing between items */
}

.navbar-user {
  margin-right: 20px; /* Add spacing between items */
}

.navbar-item,
.navbar-user {
  display: flex;
  align-items: center;
}

.text {
  width: 100%;
  height: 40%;
  text-align: left;
  color: rgb(31, 31, 31);
  font-size: 26px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 15px;
}

.police-dashboard-content {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust the gap between grid items */
  height: 650px;
  width: 650px;
}

.grid-item {
  background-color: #4e3f3f; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a card-like effect */
}

.grid-item-1 {
  grid-row: span 1;
  grid-column: span 1;
}

.grid-item-2 {
  grid-row: span 1;
  grid-column: span 1;
}

.grid-item-3 {
  grid-row: span 1;
  grid-column: span 1;
}

.grid-item-4 {
  grid-row: span 3;
  grid-column: span 2;
}

.grid-item-5 {
  grid-row: span 1;
  grid-column: span 1;
}

.grid-item-6 {
  grid-row: span 2;
  grid-column: span 1;
}
