@font-face {
    font-family: 'BalooBhaijaan2-Bold';
    src: url('./fonts/BalooBhaijaan2-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Commissioner-Bold';
    src: url('./fonts/Commissioner-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Barlow-Medium';
    src: url('./fonts/Barlow-Medium.ttf') format('truetype');
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .settings .texts {
    text-align: center;
    font-size: 24px;
    color: #313131;
  }
  
  .settings .body {
    background-color: white;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  